# Server
PORT=3001

# EMT Madrid (MobilityLabs)
EMT_CLIENT_ID=
EMT_PASS_KEY=
EMT_STOP_IDS=70,1465,1521
EMT_BASE_URL=https://openapi.emtmadrid.es

# Trains (iRail)
TRAINS_API_URL=https://api.irail.be/v1/liveboard
TRAINS_DEFAULT_STATION=Brussels-Central
TRAINS_COMPANY=SNCB/NMBS
